

#login-dp{
    min-width: 320px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,0.8);
	border-radius: 5px;
}

#login-dp .bottom{
    background-color:rgba(255,255,255,0.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
    border-radius: 3px;
}
#login-dp .form-group {
    margin-bottom: 10px;
}

@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.loginDropdown{
    font-size: 2em;
    font-family: 'Open Sans', sans-serif;
    font-weight:normal;
}
.loginDropdown:hover, .loginDropdown:focus{
    background-color: transparent;
}

#loginButton{
	color:white;
	background: #8ed655; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#a0e266, #78c13e); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#a0e266, #78c13e); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#a0e266, #78c13e); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#a0e266, #78c13e); /* Standard syntax */
	width:95%;
}

.rememberCheck{
    /*margin-left: -5%;*/
	margin-top:1.2em;
    margin-bottom:1.2em;
}

#icon {
  display: inline-block;
  width: 30px;
  background: #8ed655; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#a0e266, #78c13e); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#a0e266, #78c13e); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#a0e266, #78c13e); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#a0e266, #78c13e); /* Standard syntax */
  padding: 8px 0px 8px 8px;
  margin-left: 5px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  color: white;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  box-shadow: 1px 2px 5px rgba(0,0,0,.09);
  border: solid 0px #cbc9c9;
}

#email
{
	width:80%;
    border-radius: 4px;
	margin-left:3px;
	margin-bottom:3px;
}

#password
{
	width:80%;
    border-radius: 4px;
	margin-left:3px;
	margin-bottom:3px;
}

#greenText
{
	color: #73a030;
}

/*Checkbox style*/



/* The container */
.containerCheckbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
    position: absolute;
    opacity: 0;
    height:22px;
    width:22px;
    cursor: pointer;
    margin-top: -20px;
    z-index: 100;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    border-radius: 3px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
    background-color: #8ed655;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#dropdown-image{
    width:32px;
    height:32px;
    border-radius:300px;
}
.form1 {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.05s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    font-family: $font-family;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;

&:focus {
     background: darken(#fff, 3%);
 }
}
